
.icon-adjust:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-download:before { content: '\e802'; } /* '' */
.icon-basket:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-steam:before { content: '\f1b6'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */